body {
  background: url(images/background.gif)
}

a:link {
  text-decoration: none;
  color: #FF8000;
}

a:hover {
  text-decoration: underline;
  color: #FAAC58;
}

a:visited {
  text-decoration: none;
  color: #FF8000;
}

#welcomeIntro {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 2%;
  margin-right: 30%;
  font-size: 120%;
}

#title {
  text-align: center;
  margin-top: 1%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 400%;
}

#error404 {
  font-family: 'Dosis', sans-serif;
  color: #FE2E2E;
  font-size: 400%;
  /*margin-left: 20%;*/
}

#info404 {
  color: #FE2E2E;
  font-family: 'Dosis', sans-serif;
  /*margin-left: 40%;*/
  font-size: 300%;
}

#url404 {
  color: #FE2E2E;
  /*margin-left: 5%;*/
  font-size: 200%;
  font-family: 'Dosis', sans-serif;
}

#siteLinks {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1%;
  font-size: 200%;
}

#footerImage {
  height: 1px;
  width: 1px;
  margin-left: 1%;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 25px;
  margin-top: -40px;
  margin-left: -8px;
  background-color: #829d8a;
  opacity: 0.6;
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
  font-size: 130%;
  padding-top: 13px;
  padding-bottom: 13px;
    text-align: center;
}
