body {
  background-color: #2E2E2E;
}

#four04 {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #DF0101;
  font-size: 90px;
}

#four04two {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #DF0101;
  font-size: 70px;
}
