body {
  background: url(http://benandy.github.io/images/light_toast.png);
}

#soon {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 300%;
  margin-top: 3%;
}

#winky {
  margin-top: 1%;
}

#video {
  text-align: center;
}
