body {
  background-color: black;
}

a {
  text-decoration: none;
}

a:link {
  color: #FF8000;
}

a:visited {
  color: #FF8000;
}

a:hover {
  color: #FF9999;
}

#linkLeft {
	text-align: left;
	font-family: 'Oswald', sans-serif;
	height: 0px;
	font-size: 20px;
  position: relative;
  z-index: 2;
}

#linkCenter {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	height: 0px;
	font-size: 20px;
  position: relative;
  z-index: 2;
}

#linkRight {
	text-align: right;
	font-family: 'Oswald', sans-serif;
	height: 0px;
	font-size: 20px;
  position: relative;
  z-index: 2;
}

#selectaplaylistmate {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  height: 0px;
  font-size: 40px;
  margin-top: 23%;
}
