body {
  background-color: #FE9A2E;
}

#title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 300%;
}

#text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
}
