body {
	background-color: black;
}

#StaffHistory {
	background-color: black;
	color: grey;
	font-size: 150%;
	text-align: right;
}

#FourZeroFourone {
	background-color: black;
	color: red;
	text-align: center;
	font-size: 300%
}

IMG.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#FourZeroFourtwo {
	color: grey;
	font-size: 500%;
	text-align: center;
}

#indexContact {
	color: grey;
	font-size: 130%;
}

#indexLinks {
	color: grey;
	font-size: 150%;
	text-align: right;
}

#FourZeroFourthree {
	color: grey;
	font-size: 300%;
	text-align: center;
}

#indexDivCenter {
	margin-left: auto;
	margin-right: auto;
	width: 50%
}