body {
	background-color: #2E2E2E;
}

#copyright {
	text-align: right;
	font-size: 60%;
}

#pageLinks {
	text-align: right;
	font-size: 50px; 
}

a:visited {
  color: #FF8000;
}

a:link {
  color: #FF8000;
}

a {
	text-decoration: none
}

#latestNews {
	text-align: right;
	font-size: 40px;
}

#latestNewsInner {
	background-color: #424242;
	font-size: 20px;
	color: #E6E6E6;
}