body {
  background-color: #65EEF8;
}

#one {
  font-family: 'Signika', sans-serif;
  font-size: 300%;
  margin-top: 7%;
  margin-left: 27%;
}

#two {
  font-family: 'Satisfy', cursive;
  font-size: 1000%;
  text-align: center;
}

#three {
  font-family: 'Signika', sans-serif;
  font-size: 300%;
  margin-left: 53%;
}
