body { background:black; overflow:hidden; }

table {
  position:absolute;
  left:880px;
  top:-100px;
  margin-top:-800px;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: top left;
  -webkit-transform-style: preserve-3D;
	transform: rotate(45deg);
  transform-origin: top left;
  transform-style: preserve-3D;
  width:2200px;  
  border-collapse:collapse;
}

table:nth-of-type(1) {
  -webkit-animation:moveup 2s linear infinite;
  animation:moveup 2s linear infinite;
}

table:nth-of-type(2) {
  -webkit-animation:moveup 2s linear reverse infinite;
  animation:moveup 2s linear reverse infinite;
}

table tr td {
  height:150px; width:150px;
  float:left;
  border: 2px solid white;
}

@-webkit-keyframes moveup {
  from { margin-top:-800px; }
  to   { margin-top:-1015px; }
}

@keyframes moveup {
  from { margin-top:-800px; }
  to   { margin-top:-1015px; }
}