/* ##################################################### */
/* # Copyright Benjamin (c) All rights reserved - 2015 # */
/* ##################################################### */

body {
  background-color: black;
}

header {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	margin-left: -8px;
	margin-right: -8px;
}

#header {
  opacity: 0.0;
  background: url("content/background/photo-1433785124354-92116416b870.jpg");
	background-size: cover;
}

#time {
  text-align: center;
  cursor: default;
  margin-top: 20%;
  font-size: 500%;
}
