/* ##################################################### */
/* # Copyright Benjamin (c) All rights reserved - 2015 # */
/* ##################################################### */

body {
  background-color: black;
}

header {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	margin-left: -8px;
	margin-right: -8px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  font-weight: 200;
  color: white;
  text-decoration: underline;
}

#optionsX {
  width: 3%;
  height: 3%;
}

#optionsMenu {
  background-color: black;
  opacity: 0.9;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

#optionsImg {
  height: 3%;
  width: 3%;
}

#options {
  color: white;
  font-family: 'Titillium Web', sans-serif;
	position: relative;
  z-index: 1;
  cursor: default;
}

#unsplash {
  color: white;
  height: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 80%;
  text-align: right;
	position: relative;
  z-index: 1;
  cursor: default;
}

#clockbox {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  cursor: default;
  font-size: 800%;
  margin-top: 10%;
  margin-bottom: -3%;
}

#datebox {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  cursor: default;
  width: 100%;
  font-size: 300%;
}

#newtab {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  cursor: default;
  height: 0%;
  font-size: 100%;
}
