/* ##################################################### */
/* # Copyright Benjamin (c) All rights reserved - 2015 # */
/* ##################################################### */

body {
  width: 100%;
  height: 100%;
}

#output {
  /*color: #372C2C;*/
  position: absolute;
}
