/*Copyright Benjamin (c) All rights reserved - 2015*/

.titanic {
  float: none;
}

header {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  margin-left: -8px;
  margin-right: -8px;
  z-index: -1;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
 text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

#title {
  font-family: 'Titillium Web', sans-serif;
  color: black;
  text-align: center;
  margin-top: 3%;
  font-size: 500%;
  cursor: default;
  opacity: 0;
  transition: opacity 2s, color 1s;
}

#xInstall {
  border-style: solid;
  background-color: #515151;
  font-family: 'Titillium Web', sans-serif;
  color: #D7D7D7;
  font-size: 400%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, opacity 1s;
}

.navMenu {
  border-style: solid;
  background-color: #515151;
  font-family: 'Titillium Web', sans-serif;
  color: #D7D7D7;
  font-size: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s, opacity 1s;
}

#information {
  color: white;
  font-family: 'Titillium web', sans-serif;
  background-color: #646464;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  opacity: 0.9;
  transition: opacity 1s;
}

#wrongBrowserAlert {
  position: absolute;
  margin-top: 2%;
  font-family: 'Titillium web', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #000000;
  font-size: 200%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  visibility: hidden;
  transition: opacity 1s;
}
