/*Copyright Benjamin (c) All rights reserved - 2015*/

header {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  margin-left: -8px;
  margin-right: -8px;
  background-size: cover;
}

#title {
  font-family: 'Titillium Web', sans-serif;
  color: black;
  text-align: center;
  margin-top: 3%;
  font-size: 500%;
  cursor: default;
  opacity: 0;
  transition: opacity 2s, color 1s;
}

#xInstall {
  border-style: solid;
  background-color: #515151;
  font-family: 'Titillium Web', sans-serif;
  color: #D7D7D7;
  font-size: 400%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.navMenu {
  border-style: solid;
  background-color: #515151;
  font-family: 'Titillium Web', sans-serif;
  color: #D7D7D7;
  font-size: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 50px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
