body {
	background-color: #A4A4A4;
}

colourGREY {
	color: grey;
	font-size: 140%;
}

#learnDEVELOPMENT {
	color: red;
	font-size: 400%;
	text-align: center;
}

#learnDEVELOPMENTwait {
	color: red;
	font-size: 300%;
	text-align: center;
}

a:visited {
  color: #FF8000;
}

a:link {
  color: #FF8000;
}

#chapterOneTitle {
	background-color: #A4A4A4;
	font-size: 180%;
	text-align: center;
	color: #FF4000;
}

#chapter1intro {
	background-color: #A4A4A4;
	font-size: 120%;
	text-align: left;
}

#chapter1download {
	font-size: 120%;
}

#homeLink {
	background-color: #A4A4A4;
	font-size: 200%;
	text-align: left;
	color: #FF8000;
}

#indexTitle {
	background-color: #A4A4A4;
	font-size: 300%;
	text-align: center;
	color: #FF4000;
}

#indexTitleTwo {
	background-color: #A4A4A4;
	font-size: 210%;
	color: #FF4000;
	text-align: center;
}


#indexOne {
	background: #A4A4A4;
	text-align: left;
	font-size: 120%;
}

#indexChapters {
	background-color: #A4A4A4;
	font-size: 140%;
	text-align: right;
}

#FourZeroFourtwo {
	color: grey;
	font-size: 500%;
	text-align: center;
}

#FourZeroFourone {
	background-color: black;
	color: red;
	text-align: center;
	font-size: 300%
}

footer {
width: 100%;
background: #336699;
float: left;
margin: 0 0 .5% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #202020
}

address {
font-size : 16px; 
text-align : center; 
color: #efefef;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020
}

#footer {
    position: absolute;
    bottom: 16px;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}