h1 {
	text-align: center;
	font-size: 250%;
	color: #00FF00;
}

#creator {
	text-align: right;
	font-size: 100%;
}

a:visited {
  color: #000000;
}

a:link {
  color: #000000;
}

a {
	text-decoration: none
}

a.creeper {
	text-align: center;
	font-size: 150%;
	color: #00FF00;
}