body {
  background: url("images/light_toast.png")
}

a#headerOptions {
  color: #FFBF00;
}

#headerTitle {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 400%;
  margin-top: 3%;
}

#headerOptions {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 150%;
}
