p {
	font-size: 125%;
	font-family: 'Indie Flower', cursive;
}

a:link {
	text-decoration: none;
	color: #FF8000;
}

#aColour {
	color: #FF8000;
}

#nipples {
	color: #FE2E2E;
}

#date {
	font-family: 'Oswald', sans-serif;
	font-size: 80%;
}

#divImage > img {
	border-radius: 20px;
}

p#imageText {
	font-family: 'Oswald', sans-serif;
	text-align: right;
	margin-right: 8%;
	height: 1px;
	font-size: 70%;
}

#copyright {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 90%;
	margin-top: 50%;
}

#muskText {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 200%;
	margin-bottom: 3%;
}

#header {
	background: url("images/bombExplosion.jpg");
	background-size: cover;
}

/* ABOVE IS ALL CREDIT TO BEN WATTS-MARR */
/* BELOW IS ALL CREDIT TO CALEB STEWART */

body {
	/*background: #b0a9a2;*/
	background: url("http://benandy.github.io/images/light_toast.png	");
	overflow: hidden;
}

/*HEADER, COVER*/
header {
	background-color: #dadbdb;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 20vh;
	transition: height 2s, background 2s, padding-top 1s;

}

header.up {
	height: 110px;
	background: black;
	padding-top: 5px;
	opacity: 0.7;
}

#pageHeading {
	margin-top: 0px;
	text-align: center;
	/*Text Style*/
	font-family: Source Sans Pro;
	font-size: 50px;
	font-weight: 200;
	color: #0000FF;
	cursor: default;
}

#pageSubHeading {
	font-size: 30px;
	font-family: Source Sans Pro;
	color: #0000FF;
	cursor: default;
}

#pageSubHeading.up {
	display: none;
}

#arrow {
	padding-top: 0px;
	position: absolute;
	top: 75vh;
	transform: rotate(360deg);
	transition: top 1.5s, transform 2s;
}

#arrow.up {
	top: 65px;
	transform: rotate(180deg);
}

/*CONTENT BODY*/
#body {
	padding-top: 110vh;
	transition: padding-top 3.5s;
	padding-left: 15%;
	padding-right: 15%;
}

#body.up {
	padding-top: 150px;
}

#contentFrame {
	background-color: #f2f2f2;
	border-radius: 5px;
	/*height: 150%; --removed by Ben*/
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	/*Text Styles*/
	font-family: Source Sans Pro;
	font-size: 18px;
	font-weight: 400;
}

#contentFrame > p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#sectionHeader {
	font-weight: 700;
	text-align: center;
	font-size: 24px;
	font-family: 'PT Sans Narrow', sans-serif;
}
