#names {
  height: 1px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

#server {
  height: 1px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}

#reason {
  height: 1px; 
  text-align: right;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
