body {
	background-color: grey;
}

#indexSoundTitle {
	color: red;
	font-size: 300%;
	text-align: center;
}

#indexSoundName {
	color: red;
	font-size: 250%;
	text-align: center;
}

#indexSoundBack {
	text-align: left;
	font-size: 150%;
}